<!-- 编辑工资弹框代码-开始 -->
<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top:100px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">
          发工资
        </h4>
      </div> 
      <div class="modal-body">
        <%= form_tag pay_cash_wages_path do %>
          <div class="star_import_model_file_style">
            <ul class ="star_import_model">
              <li>
                <%= label_tag "本月实发现金：" %>
                <%= text_field_tag :net_cash, nil, required: true %>
                <%= hidden_field_tag :wage_id, @wage.id %>
              </li>
            </ul>
          </div>
          <div class="" style="">
             <%= submit_tag :点击确定, :class => "btn btn-primary-status" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- 编辑工资弹框代码-结束 -->