<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="contentpanel">
  <div class="panel panel-body">
    <header style="text-align: center">
      <h4>选择交易商品<%= params[:array] %></h4>
      <p>已选类别：<%= @type %></p>
      <p>已选商品：<%= @name %></p>
    </header>

  <div class="content-body">  
    <div class="panel">
      <div class="panel-heading" style="background-color: #fff; display: flex; justify-content: space-between;">
          <%= form_tag choose_commodity_trading_records_path, method: :get do%>
            <div style="display: flex; align-items: center;">
              <label >请选择商品类别：</label>
              <select class="form-control" name="commodity_type[]" id="commodity_select2" multiple="multiple" style="width:200px;height:20px;">
                <% @commodity_types.each do |commodity_type| %>
                  <option value="<%= commodity_type %>"><%= commodity_type%></option>
                <% end %>
              </select>
              <label >请选择商品名称：</label>
              <select class="form-control" name="commodity_name[]" id="commodity_select3" multiple="multiple" style="width:200px;height:20px; margin-right: 10px;">
                <% @commodity_names.each do |commodity_name| %>
                  <option value="<%= commodity_name %>"><%= commodity_name%></option>
                <% end %>
              </select>
              <%= submit_tag :筛选 %>
              </div>
          <% end %>
          <span> 
            <%= link_to("查看过往交易记录", trading_records_path,class:"btn btn-primary-upload pull-right") %>
          </span>
      </div>
      <div class="content-table" style="clear:both;">
        <%= form_tag new_trading_record_path, method: :get do %>
          <table>
            <thead>
              <tr>
                <th>全选</th>           
                <th>商品名称</th>
                <th>商品类别</th>
                <th>生产日期</th>
                <th>当前库存</th>
                <th>计量单位</th>
                <th>规格型号</th>
                <th>销售价</th> 
              </tr>
            </thead>
            <tbody>              
              <% @commodities.each do |commodity| %>
                <% inventory = CommodityInventory.find_by(commodity_id: commodity.id) %>
                <% product_dates = CommodityInventory.where(commodity_id: commodity.id).pluck(:produce_date).uniq %>
                <% product_dates.each do |date| %>
                  <tr>
                    <td class="select-checkbox">
                      <%= check_box_tag "commodity_id[]",commodity.id,false,class: "checkbox-body" %>
                    </td>
                    <td><%= commodity.name %></td>
                    <td><%= commodity.commodity_type_name %></td>
                    <td><%= date.to_datetime.strftime("%Y年%m月%d日") %></td>
                    <td><%= CommodityCurrentInventory.find_by(commodity_id: commodity.id).current_inventory %></td>
                    <td><%= commodity.unit %></td>
                    <td><%= commodity.standard %></td>
                    <td><%= commodity.selling_price %></td>
                  </tr>
                <% end %>
              <% end %> 
            </tbody>
          </table>
          <br><br><br> 
          <%= submit_tag :录入交易 %>
        <% end %>   
      </div>
    </div>
  </div>
 </div>

<script>
  $("#commodity_select2").select2( { theme: "bootstrap"});
  $("#commodity_select3").select2( { theme: "bootstrap"});
</script>
