<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="contentpanel">
  <div class="panel panel-body">
    <%= link_to "返回", trading_records_path,class:"btn btn-success-alt"%>
    <header style="text-align: center">
      <h4>交易记录改动记录</h4>
    </header>

    <div class="content-body"> 
      <div class="panel">
        <div class="panel-heading" style="background-color: #fff;">
          <span style="display:inline-block;">
          </span>
          <span style="float: right;"> 
            
          </span>
        </div>
      </div>
      <div class="content-table" style="clear:both;">
        <table>
          <thead>
            <tr>
              <th>改动项</th>
              <th>修改前数据</th>
              <th>修改后数据</th>
              <th>修改时间</th>
            </tr>
          </thead>
          <tbody>
            <% @update_events.each do |event| %>
              <tr>
                <td><%= event.field_name %></td>
                <td><%= event.field_old_value %></td>
                <td><%= event.field_new_value %></td>
                <td><%= event.created_at.to_datetime.strftime("%Y年%m月%d日%H时%M分") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>      
      </div>
    </div>
  </div>
</div>





