<div class="contentpanel">
  <%= form_for @commodity do |f| %>
    <div class="panel">
      <div class="panel-body">
        <%= link_to "返回", commodities_path,class:"btn btn-success-alt"%>
        <div class="head-3fDND_0">
          <div class="info-2zzSp_0" style="background: #F8F8F9">
            <%= "商品基本信息"%>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <ul class="employee-list">
              <li>
                <span class="glyphicon glyphicon-asterisk"></span>
                <span>商品名称</span>
                <%= f.text_field :name, required: true %>
              </li>
              <li>商品种类名称
              <%= f.text_field :commodity_type_name %>
              </li>
              
              <li><span class="glyphicon glyphicon-asterisk"></span>计量单位
              <%= f.select :unit, options_for_select(["箱", "盒", "个", "瓶"]), required: true %>
              </li>
              <li><span class="glyphicon glyphicon-asterisk"></span>进货价
              <%= f.text_field :purchase_price, required: true %>
              </li>  
            </ul>
          </div>
          <div class="col-md-5">
            <ul class="employee-list">
              <li>商品编码
              <%= f.text_field :commodity_code%>
              </li>
              <li>商品种类编码
              <%= f.text_field :commodity_type_code %>
              </li>
              <li><span class="glyphicon glyphicon-asterisk"></span>规格型号
              <%= f.text_field :standard, required: true %>
              </li>
              <li><span class="glyphicon glyphicon-asterisk"></span>销售价
              <%= f.text_field :selling_price, required: true %>
              </li> 
            </ul>
          </div>
        </div> 
        <div class="center-uRe1b_0">
          <br><br><br><br><br>
          <%= f.submit :确定修改, class:"btn button-success"%>
        </div>
      </div>
    </div>
  <% end %>
</div>

