<!-- 编辑工资弹框代码-开始 -->
<div class="modal fade" id="editModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top:100px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="myModalLabel">
          编辑入库记录
        </h4>
      </div> 
      <div class="modal-body">
        <% if @commodity_inventory.present? %>
          <%= form_tag commodity_inventory_path(@commodity_inventory.id), method: 'patch' do %>
            <div class="star_import_model_file_style">
              <ul class ="star_import_model">
                <li>
                  <%= label_tag "入库数量：" %>
                  <%= text_field_tag :quantity, nil, required: true %>
                </li> 
                <li>
                  <%= label_tag "运费：" %>
                  <%= text_field_tag :freight, nil, required: true %>
                  <%= hidden_field_tag :commodity_inventory_id, @commodity_inventory.id %>
                </li>
              </ul>
            </div>
            <div class="" style="">
               <%= submit_tag :点击确定, :class => "btn btn-primary-status" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- 编辑工资弹框代码-结束 -->