<?xml version="1.0" encoding='UTF-8'?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Description">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1" ss:ShrinkToFit="1"/>
      <Borders>
      <Border ss:Position="Top" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Bottom" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Left" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      <Border ss:Position="Right" ss:Weight="1" ss:Color="#1c1c1c" ss:LineStyle="Continuous"/>
      </Borders>
      <Interior ss:Pattern="Solid"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">商品类别</Data></Cell>
        <Cell><Data ss:Type="String">商品名称</Data></Cell>
        <% if !(@export_commodities.first.commodity_type_name == "服装类") %>
          <Cell><Data ss:Type="String">保质期</Data></Cell>
          <Cell><Data ss:Type="String">生产日期</Data></Cell>
          <Cell><Data ss:Type="String">剩余天数</Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String">计量单位</Data></Cell>
        <Cell><Data ss:Type="String">规格型号</Data></Cell>
        <Cell><Data ss:Type="String">当前库存</Data></Cell>
      </Row>
      <% @export_commodities.each do |commodity| %>
        <% inventory = CommodityInventory.find_by(commodity_id: commodity.id) %>
        <% product_dates = CommodityInventory.where(commodity_id: commodity.id).pluck(:produce_date).uniq %>
        <% product_dates.each do |date| %>
            <Row>
              <Cell><Data ss:Type="String"><%= commodity.commodity_type_name %></Data></Cell>
              <Cell><Data ss:Type="String"><%= commodity.name %></Data></Cell>
              <% if !(@export_commodities.first.commodity_type_name == "服装类") %>
                <Cell><Data ss:Type="String"><%= inventory.warranty_period %>月</Data></Cell>
                <Cell><Data ss:Type="String"><%= date.to_datetime.strftime("%Y年%m月%d日") %></Data></Cell>
                <Cell><Data ss:Type="String"><%= (inventory.warranty_period * 30 - (Time.now - date.to_datetime)/60/60/24).round %>天</Data></Cell>
              <% end %>
              <Cell><Data ss:Type="String"><%= commodity.unit %></Data></Cell>
              <Cell><Data ss:Type="String"><%= commodity.standard %></Data></Cell>
              <Cell><Data ss:Type="String"><%= CommodityCurrentInventory.find_by(commodity_id: inventory.commodity_id, produce_date: date).current_inventory  %></Data></Cell>
            </Row>
        <% end %>
      <% end %> 
    </Table>
  </Worksheet>
</Workbook>
 